@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sevillana&display=swap');


body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color: rgb(187, 187, 187);
    /* font-family: "Roboto", sans-serif; */
    font-family: "Quicksand", sans-serif;
    /* font-family: "Permanent Marker", cursive; */
    /* font-family: "Dancing Script", cursive; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}



.banner {
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    display: flex; 
    /* flex-direction: column;  */
    justify-content:space-between; 
    align-items: center; 
    height: 8vh;
    width: 99.5%;
    overflow: hidden;
    background-color: #064669;
/*     background-image: url('../assets/conce.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center; */
    border-radius: 20px;
}

.banner a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    margin-left: 5px;
    cursor: pointer;
}

.banner img{
    width: 10%;
    object-fit: contain;
}

.menu-toggle, .menu, .sidebarM{
    display: none;
}

.sidebar{
    width: 15%;
    background-color: #064669;
    overflow: hidden;
    margin-left: 5px;
    border-radius: 20px;
    height: 98%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    min-width: 150px;
    box-shadow: 5px 5px 15px gray;
}

.sidebar a:first-child{
    margin-top: 10px;
}

.sidebar a:last-child{
    margin-bottom: 10px;
}

.sidebar a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px black;
    width: auto;
    text-align: center;
    width: 40%;
    min-width: 100px;
    box-shadow: 5px 5px 15px rgb(49, 49, 49);
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.sidebar a:hover{
    transition: 0.2s;
    background-color: #fff;
    color: #064669;
    font-weight: bold;
    transform: scale(1.2);
}

.menu{
    display: none;
    cursor: pointer;
}

.principal-container{
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .sidebar {
    left: 0;
}

/* .banner h1, .banner h2, .banner h3{
    z-index: 2;
    color: #064669;
    font-size: 4rem;
    margin: 10px; 
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.banner h1 {
    padding: 20px; 
    color: #fff;
} */



.banner h2 {
    /* padding: 10px; */
    top: 50%;
    left: 10%;
    text-align: center;
    font-size: 3rem;
}

.banner h3{
    z-index: 3;
    color: #fff;
    font-size: 2rem;
    border-radius: 50px;
    font-family: "Dancing Script", cursive;
    padding: 15px;
    text-align: center;
}

main img{
    width: 100%;
    object-fit: contain;
    height: 300px;
    
}

main{
    /* display: grid;
    grid-template-columns: 4fr 4fr;
    flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-items: center; */
    display: flex;
    height: calc(100vh - 180px);
    gap: 20px;
/*     justify-content: space-around; */
}

.main-container{
    position: relative;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin: 20px 0 20px 0;
    box-shadow: 5px 5px 15px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: myAnimation;
    animation-duration: 0.9s;
    animation-timing-function: ease;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
    scroll-margin-top: 270px; 
}


.title{
    font-size: 1.9rem;
}

.comuna{
    font-size: 1.4rem;
}

.comuna p{
    text-align: center;
}

.image-title p{
    margin-top: 0;
    color: gray;
    font-style: italic;
}

footer{
    width: 100%;
    background-color: #064669;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    
}

footer p{
    margin-left: 10px;
}

footer h3{
    margin-right: 10px;
    font-family: "Dancing Script", cursive;
}

.social-media{
    display: flex;
    gap: 20px;
}

.social-media i{
    color: #fff;

}


@keyframes myAnimation {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

/* ------------------------MAYORIA DE SMARTPHONES---------------------------------------- */
@media (max-width: 580px){
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1000;
        cursor: pointer;
    }

    body {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100vh;
    }

    .banner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu .fa-bars {
        font-size: 2rem;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #fff;
    }

    .menu .fa-bars:hover {
        transform: scale(1.2);
    }

    .sidebar{
        display: none;
    }


    .banner img {
        object-fit: cover;
        width: 150px;
        height: 70%;
        border-radius: 0 0 5px 5px;
    }

    .banner h1 {
        display: none;
    }

    .banner h3 {
        font-size: 1.4rem;
        color: #fff;
        font-family: "Dancing Script", cursive;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        font-family: "Roboto", sans-serif;
        height: auto;
        width: 95%;
        align-items: center;
        background-color: white;
        box-shadow: 5px 5px 15px gray;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .title {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
    }

    .comuna {
        font-size: 1rem;
        text-align: justify;
        width: 90%;
    }

    .comuna img {
        width: 100%;
    }

    .image-title {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .image-title p {
        margin-top: 0;
        text-align: center;
        font-weight: 100;
        font-style: italic;
        font-size: 0.9rem;
        color: gray;
    }

    footer {
        width: 100%;
        background-color: #064669;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        flex-wrap: wrap;
        align-items: center;
    }

    footer p {
        font-size: 1.1rem;
        color: #fff;
        text-align: center;
        margin: 0;
    }

    .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
        text-decoration: none;
    }

    .social-media i {
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
    }

    footer h3 {
        text-align: end;
        margin-right: 5%;
        margin-top: 0;
        font-size: 1.4rem;
        color: #fff;
        font-family: "Dancing Script", cursive;
    }

    .fa {
        font-size: 1rem;
    }

    img {
        view-timeline-name: --image;
        view-timeline-axis: block;

        animation-timeline: --image;
        animation-name: myAnimation;

        animation-range: entry 25% cover 30%;
        animation-fill-mode: both;
    }
}


